h1 {
  color: red;
}
body {
  text-align: center;
}
body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTgjxUUSZQOTDbU3BgjvVhI4fV6JF0Mbbekw&s");
}
#ncyu {
  position: absolute;
  border: solid 5px white;
  bottom: 0px;
  right: 5px;
}
#ico {
  width: 300px;
}
h2 {
  color: white;
}

p {
  color: white;
}
body {
  
  padd

  
padding-bottom: 10000px;  /* 增加頁面底部的內邊距 */
}